{% extends "base.html" %}
{% load static %}
{% block title %}بازیابی رمز با کد{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'azmon.css' %}">{% endblock %}
{% block body_class %}auth-body{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="login-box">
      <div class="tabs">
        <a href="/accounts/login/" class="tab">ورود</a>
        <a href="/accounts/register/" class="tab">ثبت نام</a>
        <span class="tab active">بازیابی رمز با کد</span>
      </div>

      <form method="post">
        {% csrf_token %}
        {{ form.email }}
        {{ form.recovery_code }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <button type="submit" class="login-btn">تنظیم رمز</button>
      </form>
    </div>
  </div>
{% endblock %}