{% extends "base.html" %}
{% block title %}داشبورد{% endblock %}
{% block content %}
<section class="dashboard">
  <div class="dash-left">
    <div class="dash-avatar"></div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    {% if role %}
      <span class="role-badge">{{ role.name }}</span>
    {% endif %}
    <div style="margin-top:16px;">
      <a href="/accounts/profile/" class="btn outline small">ویرایش پروفایل</a>
    </div>
  </div>
  <div class="dash-right">
    <ul class="menu">
      <li><a href="/">خانه</a></li>
      {% if role.code == 'student' %}
        <li><a href="{% url 'exam_list' %}">لیست آزمون‌ها</a></li>
        <li><a href="{% url 'student_scores' %}">لیست نمرات</a></li>
      {% elif role.code == 'instructor' %}
        <li><a href="{% url 'question_bank' %}">بانک سوالات</a></li>
        <li><a href="{% url 'exam_list' %}">آزمون‌های فعال</a></li>
        <li><a href="{% url 'students' %}">لیست دانشجویان</a></li>
      {% elif role.code == 'admin' %}
        <li><a href="{% url 'users' %}">مدیریت کاربران</a></li>
      {% endif %}
      <li><a href="{% url 'logout' %}">خروج</a></li>
    </ul>
  </div>
</section>
{% endblock %}
